.preloader__circle {
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
	margin: auto;
	-webkit-animation: spin .75s infinite linear;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}