.search__button {
  height: 64px;
  max-width: 169px;
  background-color: #2f71e5;
  -webkit-box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: #fff;
  position: absolute;
  top: 204px;
  right:43vw;
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.search__button:hover {
  background-color: #347eff;
}

.search__button:focus {
  background-color: #2a65cc;
}


@media (min-width : 200px) and (max-width: 390px) {
  .search__button {
 
    right:33vw;
  }
}