@import url('./_close/header__menu_close.css');
@import url('./_dark/header__menu_dark.css');

.header__menu {
  background-image: url(../../../images/menu.svg);
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.header__menu:focus {
  outline: none;
}

@media (min-width : 768px) {
  .header__menu {
    display: none;
  }
}