@import url('./_color/header__nav-button_color.css');

.header__nav-button {
  padding: 0 17px 0;
  height: 50px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__nav-button:hover {
  border: 1px solid transparent;
  background-color: rgba(168, 168, 168, 1);
}

.header__nav-button:focus {
  outline: none;
}

@media (max-width : 1439px) {
  .header__nav-button {
    height: 40px;
    padding: 0 14px 0;
    letter-spacing: 0;
  }
}